body {
  font-family: "Exo 2", sans-serif;
  background-color: #f0f0f5;

  background: repeating-linear-gradient(
    #ffffff,
    /* White base color */ #ffffff 28px,
    /* Space between lines */ #dcdcdc 29px,
    /* Line color */ #ff9696 30px /* Next line's space */
  );
  background-size: 100% 30px; /* Distance between lines */
  margin: 0;
  padding: 0;
}

.title {
  color: #343a40;
  margin-bottom: 30px;
}

.newListContainer {
  margin-bottom: 30px;
}

.stickyNote {
  background-color: #fceb55;
  border-radius: 0px 8px 8px 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: relative; */
}

.stickyNote h4 {
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
}

#listNameInput {
    background-color: #8bebfc;
}
.taskInput {
  border-radius: 0;
}

.taskList {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.listGroupItem {
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  background-color: #effc7b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.taskCompleted {
  text-decoration: line-through;
  color: #6c757d;
}

.btn {
  margin-top: 5px;
}

.addTaskButton {
  border-radius: 0;
}
